<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<hr>
	<hr>
	<hr>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading -->
		<h1 class="my-4">Lista Horario</h1>
		
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Hora </th>
					<th scope="col">Acciones</th>

				</tr>
			</thead>
			<tbody th:each="h: ${horarios}" >
				<tr>
					<th scope="row" th:text="${h.codigo}">1</th>
					<td th:text="${h.descripcion}">Mark</td>
					
					
					<td>
						<a th:href="@{'/horario/edith/' + ${h.codigo} }" class="btn btn-warning"> <i class="fas fa-edit"></i> </a>
						<a th:href="@{'/horario/delh/' + ${h.codigo} }"class="btn btn-danger"> <i class="fas fa-trash-alt"></i> </a>							
							</td>
				</tr>

			</tbody>
		</table>
		<p align="center">
			<a   th:href="@{/horario/registroh}" class="btn btn-info"> <i class="fas fa-calendar-alt"></i> Registro Horario</a> 
				<a  th:href="@{'/'}"class="btn btn-danger"> <i class="fas fa-undo"></i> Cancelar
			</a>
		</p>
	
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>